body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    text-align: right;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.doctor {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor img {
    max-width: 200px;
    border-radius: 5px;
}

.doctor-info {
    display: flex;
    align-items: center;
}

.description {
    margin-left: 20px;
}

.description h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.description p {
    margin: 0;
    font-size: 16px;
}

.actions {
    margin-top: 10px;
}

.actions button {
    margin-right: 10px;
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0056b3;
}

.referral textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}